body {
    background-color: #9ccfd8;
    margin: 0px;
}

header {
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    justify-content: flex-end;
    background-color: #31748f;
}

p {
    font-family: 'IBM Plex Serif', serif;
    color:#191724;
}

.navigation {
    width: 130px;
}

ul,li {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 5px;

}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #e0def4;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #e0def4;
}

.left-slide-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #191724;
}

.left-slide-button:hover {
    color: #31748f;
}

.left-slide-in-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #191724;
    padding-left: 75%;
}

.left-slide-in-button:hover {
    color: #9ccfd8;
}
.left-slide-out {
    position: fixed;
    top: 30;
    width: 15%;
    height:100%;
    background-color: #31748f;
    display: flex;
    flex-direction: column;
}

#new-note-text {
    margin: 0;
}

.slide-note {
    display: flex;
    flex-direction: column;
}

#new-note-button {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    font-size: 26px;
    color: #191724;
    height: 30px;
}
#new-note-button:hover {
    color: #31748f;
    background-color:white;
}

.save-button {
    display: flex;
    justify-content: flex-end;
}

#save-delete {
    background-color: #31748f;
    font-size: 16px;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.create-note {
    width: 50%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-new-note {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    background-color: white;
    border: none;
    outline: none;
    resize: none;
    width: 500px;
    height: 250px;
}

#note-id {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    header {
        position: fixed;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }

    li, h1 {
        font-size: 12px;
    }

    .left-slide-in-button {
        border: none;
        font-size: 14px;
        padding: 20px;
    }

    .create-new-note {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
    }

    textarea {
        background-color: white;
        border: none;
        outline: none;
        resize: none;
        width: 150px;
        height: 200px;
    }

    .left-slide-out {
        margin-top: 50px;
    }

    #save-delete {
        font-size: 12px;
    }

    .left-slide-button {
        margin-top: 75px;
    }
}